body{
background-color: aquamarine;
}
.lorem{
    width: 50em;
}
.lorem > pre{
    cursor: pointer;
    font-size: 1.5em;
}
.lorem > pre:hover{
   color: royalblue;
   background-color: greenyellow;
}